extends ./index.jade

block title
	title О компании | Сибинжгеоком

block menu
	li
		a(href="index.html") Главная
	li.active
		a(href="about.html") О компании
	li
		a(href="#") Направление работ
	li
		a(href="#") Георафия работ
	li
		a(href="#") Партнеры
	li
		a(href="#") Допуски и сертификаты
block content
	h1 Новости
	article
		header
			h2 
				a(href="#") ПОЖАР НА ПОДЛОДКЕ В ИНДИИ
		.content Построенная в России дизель-электрическая подводная лодка (ДЭПЛ) «Синдуракшак» ВМС Индии, которая в ночь на среду затонула после взрыва и пожара в порту Мумбаи, была в момент инцидента «полностью вооружена», пожар привел к детонации торпед и ракет на ее борту, сообщает телеканал NDTV со ссылкой на источники в Минобороны Индии.
	article
		header
			h2 ПОЖАР НА ПОДЛОДКЕ В ИНДИИ
		.content Построенная в России дизель-электрическая подводная лодка (ДЭПЛ) «Синдуракшак» ВМС Индии, которая в ночь на среду затонула после взрыва и пожара в порту Мумбаи, была в момент инцидента «полностью вооружена», пожар привел к детонации торпед и ракет на ее борту, сообщает телеканал NDTV со ссылкой на источники в Минобороны Индии.
	article
		header
			h2 ПОЖАР НА ПОДЛОДКЕ В ИНДИИ
		.content Построенная в России дизель-электрическая подводная лодка (ДЭПЛ) «Синдуракшак» ВМС Индии, которая в ночь на среду затонула после взрыва и пожара в порту Мумбаи, была в момент инцидента «полностью вооружена», пожар привел к детонации торпед и ракет на ее борту, сообщает телеканал NDTV со ссылкой на источники в Минобороны Индии.
	article
		header
			h2 ПОЖАР НА ПОДЛОДКЕ В ИНДИИ
		.content Построенная в России дизель-электрическая подводная лодка (ДЭПЛ) «Синдуракшак» ВМС Индии, которая в ночь на среду затонула после взрыва и пожара в порту Мумбаи, была в момент инцидента «полностью вооружена», пожар привел к детонации торпед и ракет на ее борту, сообщает телеканал NDTV со ссылкой на источники в Минобороны Индии.

